.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background: white;
  border: 1px solid #eee;
  border-radius: 14px;
  overflow: hidden;
  transition: 0.2s ease;
}

.card:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
}

.banner {
  height: 120px;
  background-size: cover;
  background-position: center;
}

.content {
  padding: 20px;
}

.topRow {
  display: flex;
  gap: 18px;
}

.icon {
  width: 70px;
  height: 70px;
  border-radius: 16px;
  object-fit: cover;
  border: 3px solid white;
  margin-top: -40px;
  background: white;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.description {
  font-size: 14px;
  color: #666;
}

.meta {
  font-size: 13px;
  color: #444;
}

.members {
  font-size: 13px;
  color: #222;
  margin-top: 4px;
}

.actions {
  display: flex;
  gap: 12px;
  margin-top: 18px;
}

.joinBtn {
  padding: 8px 18px;
  border-radius: 20px;
  border: none;
  background: #e5e7eb;
  /* background: linear-gradient(135deg, #34d399, #059669); */
  color: black;
  cursor: pointer;
  transition: 0.2s ease;
}

.joinBtn:hover {
  opacity: 0.9;
}

.shareBtn {
  padding: 8px 18px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.shareBtn:hover {
  background: #f5f5f5;
}

.joinedBtn {
  background: #4f46e5;
  padding: 8px 18px;
  border-radius: 20px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}